 @import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=DynaPuff:wght@400..700&display=swap');
/*font-family: "Delius Unicase", cursive;*/

/* estilo para el titulo y subtitulo */
header section h1 {
    margin: 16px 14px 12px 10px;
    font-size: 30px;
    text-align: center;
    font-family:"Delius Unicase", cursive;
}
header section h2 { 
    margin-top: 30px;
    color: rgb(121, 117, 117);
    font-size: 30px;
    font-family: "Delius Unicase", cursive;
}
/*imagen logo lola store*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-fluid {
    background-color: rgb(248, 149, 202);
}

/* css del footer*/
footer h4 {
    color:deeppink;
    font-size: 19px;
    margin: 5%;
    text-align: center;
}

footer p {
    color:rgb(122, 119, 119);
    font-size: 19px;
    margin: 5%;
    text-align: center;
}

/* nuestros productos mas vendidos*/
section h2 {
    color: rgb(209, 50, 161);
    font-size: 25px;
    text-align: center;
    font-family:"Delius Unicase", cursive;
}
/*queres ser revendedor de nuestra marca*/
main section h3 {
    color:rgb(224, 41, 154);
    font-size: 25px;
    text-align: center;
    font-family:"Delius Unicase", cursive;
}
main div p {
    margin: 16px 14px 12px 10px;
    text-align: center;
    font-size: 15px;
}
body {
    background-color: rgb(247, 202, 225);
}
/* productos mas vendidos de la tienda*/
.titulo-2 {
    margin: 16px 14px 12px 10px;
    padding: 16px 14px 12px 10px;
    text-align: center;
}
/* todos nuestros productos*/
.section-h2 {
    color: black;
    text-align: left;
    margin: 20px 20px 20px 20px;
}
.card-logo {
display: block;
width: 200px;
margin-left: 43%;
margin-right: 16%;
}
.card-container {
    margin: 16px;
    display: flex;
    flex-direction:column; 
    align-items: center;
}
.card {
    border-radius: 5px ;
    width: 300px;
}

.btn{
    margin: 16px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(226, 49, 226);
    display: inline-block;
}
.btn2 {
    margin: 16px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(226, 49, 226);
}
.btn3 {
     margin: 16px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(226, 49, 226);
}
.btn4 {
     margin: 16px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(226, 49, 226);
}
.card-container2 {
margin: 16px;
display: flex;
flex-direction: row;
gap: 80px;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.card1 {
    padding: 16px;
    border: 1px solid black;
   width: 150px;
}
.card1 img {
    width: 100%;
}
.card2 {
    padding: 16px;
    border: 1px solid black;
    width: 150px;
}
.card2 img {
    width: 100%;
}
.card3 {
    padding: 16px;
    border: 1px solid black;
    width: 150px;
}
.card3 img {
    width: 100%;
}
.card4 {
    padding: 16px;
    border: 1px solid black;
    width: 150px;
}
.card4 img {
    width: 100%;
}
.card5 {
    padding: 16px;
    border: 1px solid black;
    width: 150px;
}
.card5 img {
    width: 100%;
}
.card6 {
    padding: 16px;
    border: 1px solid black;
    width: 150px;
}
.card6 img {
    width: 100%;
}
.card7 {
    padding: 16px;
    border: 1px solid black;
    width: 150px;
}
.card7 img {
    width: 100%;
}
.card8 {
    padding: 16px;
    border: 1px solid black;
    width: 150px;
}
.card8 img {
    width: 100%;
}
.card9 {
    padding: 16px;
    border: 1px solid black;
    width: 150px;
}
.card9 img {
    width: 100%;
}
.card10 {
    padding: 16px;
    border: 1px solid black;
    width: 150px;
}
.card10 img {
    width: 100%;
}
.card-img-pararevendedores {
    display: block;
    width: 400px;
    margin-left: 30% ;
    margin-right: 30%;  
}
.card-dondeestamosubicadas {
    display: block;
    width: 350px;
    margin-left: 35%;
    margin-right: 35%;
}
.card-quienessomos {
    display: block;
    width: 400px;
    margin-left: 35%;
    margin-right: 35%;
}
.card-cualesnuestramision {
    display: block;
    width: 400px;
    margin-left: 35%;
    margin-right: 35%;
}
.redes:visited {
    color: black;
}
.categorias {
    margin: 16px 16px 16px 16px;
}